- if @product.has_auction?
  - if @product.auction.ended?
    = render 'auctions/status'
  - else
    = form_for [@product, @product.product_auction, Bid.new] do |f|
      %h2.message
        %strong
          Current bid:
          = @product.product_auction.current_bid

      %p
        Ends at:
        = l(@product.product_auction.ends_at)

      %p
        = f.text_field :value
        = f.submit 'Bid'
  :javascript

    $(function() {
      var user_id = "#{current_user.id}";
      var auction_id = "#{@product.product_auction.id}";
      var form = $("#new_bid");

      var auctionSocket = new AuctionSocket(
        user_id,
        auction_id,
        form
      );
    });
