%h1 Products

- @products.each do |product|
  .panel.panel-default
    .panel-heading
      .pull-right.created-by
        Created by:
        %strong.email= product.user.email

      = link_to product.name, product
    .panel-body
      .row
        .col-md-5
          = link_to product do
            = image_tag product.image, height: 200
        .col-md-7
          - if product.owned_by?(current_user)
            .pull-right
              = link_to 'Edit', edit_product_path(product), class: 'btn btn-default'
              = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

.row
  %p
    = link_to 'New Product', new_product_path, class: 'btn btn-primary'
