%h1= @product.name

.row
  .col-md-5
    = image_tag @product.image
    = render 'auction_form'
    = render 'bid_form'
  .col-md-7

%p
  = link_to 'Edit', edit_product_path(@product)
  \|
  = link_to 'Back', products_path
