%h1= @product.name

.row
  .col-md-6
    = image_tag @product.image, class: 'image'
  .col-md-6
    = render 'auction_form'
    = render 'bid_form'

%p
  = link_to 'Edit', edit_product_path(@product)
  \|
  = link_to 'Back', products_path

:javascript
  App = {
    websocket_url: "ws://#{request.host}:#{request.port}/"
  }
